.syntax--source.syntax--java {
  .syntax--storage {
    &.syntax--modifier.syntax--import {
      color: @syntax-color-numeric;
    }
    &.syntax--type {
      color: @syntax-color-type;
    }
/*
    &.syntax--type.syntax--primitive {
      color: @syntax-color-variable;
    }

    &.syntax--type.syntax--other {
      color: @syntax-color-property;
    }*/
  }

  .syntax--meta.syntax--definition.syntax--variable {
    color: @syntax-color-variable;
  }

  .syntax--meta.syntax--class.syntax--body,
  .syntax--meta.syntax--method.syntax--body {
    color: @syntax-color-type;
  }

  .syntax--entity.syntax--name.syntax--type {
    color: @syntax-color-class;
    font-weight: 900;
  }

  .syntax--keyword.syntax--control {
      color: @syntax-color-control;
      font-weight: bold;
  }

  .syntax--keyword.syntax--control.syntax--ternary {
      color: @syntax-bracket;
      // font-weight: bold;
  }

  .syntax--keyword.syntax--other.syntax--import {
      color: @syntax-color-import;
      font-style: italic;
      font-weight: bold;
  }

  .syntax--keyword.syntax--operator {
    &.syntax--instanceof {
      color: @syntax-color-value;
    }
    &.syntax--increment-decrement {
      color: @syntax-bracket;
      font-weight: bold;
    }
    &.syntax--assignment {
      color: @syntax-bracket;
      font-weight: bold;
    }
    &.syntax--comparison {
      color: @syntax-color-numeric;
      font-weight: normal;
    }
  }
}

.syntax--source.syntax--java-properties {
  .syntax--meta.syntax--key-pair {
    color: @syntax-color-class;
    &.syntax--punctuation {
      color: @syntax-bracket;
    }

    &.syntax--meta.syntax--import {
        color: @syntax-color-import;
        font-weight: bold;
        font-style: italic;
    }
  }
}
