.syntax--source.syntax--java {
  .syntax--storage {
    &.syntax--modifier.syntax--import {
      color: @syntax-color-numeric;
    }
    &.syntax--type {
      color: darken(@syntax-color-value, 4%);
      &.syntax--primitive {
        color: @syntax-color-property;
      }
      &.syntax--other {
        color: @syntax-color-tag;
      }
    }
  }

  .syntax--meta.syntax--definition.syntax--variable {
    color: @syntax-color-variable;
  }

  .syntax--meta.syntax--class.syntax--body,
  .syntax--meta.syntax--method.syntax--body {
    color: darken(@syntax-color-tag, 12%);
  }

  .syntax--variable {
    &.syntax--language {
      font-weight: bold;
    }
    &.syntax--other {
      &.syntax--definition {
        color: @syntax-color-keyword;
      }
      &.syntax--object.syntax--property {
        font-style: normal;
      }
    }
  }

  .syntax--entity.syntax--name.syntax--type.syntax--class {
    color: @syntax-color-class;
    font-weight: bold;
    font-family: monospace;
  }

  .syntax--constant {
    &.syntax--language {
      color: lighten(@syntax-color-import, 6%);
      font-weight: bold;
    }
  }

  .syntax--keyword {
    &.syntax--control {
      color: @syntax-color-control;
      font-weight: bold;
      &.syntax--ternary {
        color: @syntax-bracket;
        font-weight: bold;
      }
    }
    &.syntax--other.syntax--import {
      color: @syntax-color-import;
      font-style: italic;
      font-weight: bold;
    }
    &.syntax--instanceof {
      color: @syntax-color-value;
    }
  }
}

.syntax--source.syntax--java-properties {
  .syntax--meta.syntax--key-pair {
    color: @syntax-color-class;
    &.syntax--punctuation {
      color: @syntax-bracket;
    }

    &.syntax--meta.syntax--import {
        color: @syntax-color-import;
        font-weight: bold;
        font-style: italic;
    }
  }
}
